@import "../../styles/main.scss";

.portfolio {
    grid-row: 1;
    grid-column: 1/5;
    // background-color: rosybrown;
    margin: 8.8rem 24rem auto 16rem;

    &__list {
        width: 50.4rem;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        list-style: none;

        a {
            &,
            &:link,
            &:visited {
                cursor: pointer;
                text-decoration: none;
                height: 2.4rem;
                width: 2.4rem;
                outline: none;
                position: relative;
                margin-right: 2.4rem;
                color: currentColor;
                transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                opacity: 0;
            }

            &:hover {
                color: $primary;
                transform: scale(1.5);
            }
        }

        &__item {
            display: flex;
            // align-content: flex-end;
            // justify-content: flex-start;

            align-items: center;
            width: 100%;
            height: 8.8rem;
            background-color: $boxes;
            // padding: 2.4rem 0 2rem 3.2rem;
            // font-size: 4.8rem;
            font-weight: 500;
            color: white;
            border-radius: 5px;
            box-shadow: 0 0 2rem rgba(black, 0.5);
            transition: padding-left .8s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.3s ;
            position: relative;

            // &::before {
            //     content: '';
            //     height: 100%;
            //     width: 6px;
            //     background-color: pink;
            //     position: absolute;
            //     transform: scaleY(0);
            //     transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
            //     // z-index: 0;

            //     &:hover {
            //         background-color: black;
            //     }
            // }



            &:hover {
                padding-left: 2.5rem;
                background-color: $third;
                transform: scale(1.5);

               

          
            
            
                // &::before {
                //     transform: scaleY(1);
                //     width: 100%;
                // }

                a {
                    opacity: 1;
                }

                // color: black;
            }

            &:not(:last-child) {
                margin-bottom: 1.6rem;
            }



            &__box {
                margin: 0 auto 0 2.4rem;
                

            }

            .project__name {
                font-size: 3.6rem;
                margin-bottom: .8rem;
            }

            .project__skill{
                font-size: 1.3rem;
                font-weight: 300;
            }

            .icon {
                width: 100%;
                height: 100%;
                // margin-right: 2.4rem;
                color: currentColor;
                fill: currentColor;
                position: absolute;

                svg {
                    width: 100%;
                    height: 100%;
                    stroke: white;
                }
            }
        }
    }
}

.project__circle {
    position: absolute;
    top: 18rem;
    left: 4rem;
    height: 10rem;
    width: 10rem;
    // background-color: pink;
    border: 3px solid $third;
    border-radius: 50%;
    transition: background-color .8s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    // z-index: 2;

   
}



.portfolio__list:hover .portfolio__list__item:not(:hover) {
    color: grey
}


