.homepage {
    grid-row: 1;
    grid-column: 1/-1;
    
    grid-template-columns: inherit;
    display: grid;
    // justify-items: center;
    align-items:center;
    margin-bottom: 8.8rem;
    
    // display: none;
    // overflow: hidden;
}