@import "../../styles/main.scss";




.desc {
    grid-column: 5/-1;
    grid-row: 1;
    // background-color: seagreen;
    margin: 0 8.8rem 0 0;
    // justify-self: center;
    align-self: flex-start;
    // background-color: $third;
    position: sticky;
    top:8.8rem;
    // right: 0;
    //I need hight so sticky is working fine. Why? 
    // height: 50%;


    @media only screen and (max-width: $bp-small) {
       grid-row: 2;
       grid-column: 1/-1;
    //    grid-auto-rows: auto;
        margin: 5rem 2rem;
    
        

        }

  
    
    

    .reveal {
        width: 100%;
        background: $background;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        // height: 100%;
        
    }

    &__photo { 
        height: 48rem;
        width: 100%;
        // background-image: url('../../img/projects/1.png');
        // background-repeat: no-repeat;
        // background-size: cover;
        object-fit: cover;
        // position: sticky;
        // height: 100%;
        // top: 8.8rem;

             
        animation: cameraPan 10s infinite;

        @media only screen and (max-width: $bp-largest) {
            height: 40rem;
           
        }
    }

    &__title { 
        font-size: 6.4rem;
        font-weight: 900;
        text-transform: uppercase;
        background-color: $third;
        margin-left: -11.2rem;
        transform: translateY(-1rem);
        display: inline-block;
        border-radius: 5px;
        mix-blend-mode: screen;
        margin-bottom: 1.6rem;
        // color: ;
       
        @media only screen and (max-width: $bp-largest) {
            font-size: 4.2rem;
            margin-left: -5rem;
           
        }

        @media only screen and (max-width: $bp-small) {
           margin-left: auto;
         
             
     
             }
     
        
        
        
        // letter-spacing: -0.5rem;
        
        h1 {
            font-size: 4.4rem;
            // mix-blend-mode: overlay;
            // color: transparent;
            text-shadow: black;
     
        // color: transparent;
        }
        
    }

    &__details { 
        font-size: 3.3rem;
        font-weight: 300;
        @media only screen and (max-width: $bp-largest) {
            font-size: 2.6rem;
            
           
        }
        
    }
}

@keyframes cameraPan {
    0% {
      object-position: 0% 0%;
    }    
    25% {
        object-position: 100% 50%;
    }
    50% {
        object-position: 50% 50%;
    }
    75% {
        object-position: 50% 100%;
    }
    100% {
        object-position: 0% 0%;
    }
    
    }