@import "../../styles/main.scss";

.photo {
    // background-color: grey;      
    grid-column: 1/5;
    margin: 5.0rem 8.8rem auto 8.8rem;
    grid-row: 1;
    position: relative;


    &__portfolio {
        max-width: 78.4rem;
        max-height: 78.4rem; 
        // overflow: hidden;
        // margin: 10.2rem 8.8rem 19.4rem 8.8rem;
        // position: relative;
        
        


        &__img {
            height: 100%;
            width: 100%;
            object-fit: contain;
            border-radius: 50%;   
            // animation: cameraPan 10s linear infinite;
                 
        }


        &__circle { 
            position: absolute;
            

            &--1 {
            top: 1rem;
            left: 2rem;
            height:15rem;
            width: 15rem;
            // background-color: pink;
            border: 3px solid $primary;
            border-radius: 50%;

            }
            &--2 {
            bottom: 5rem;
            right: 8rem;
            height:10rem;
            width: 10rem;
            // background-color: pink;
            border: 3px solid $secondary;
            border-radius: 50%;

            }
            &--3 {
            bottom: 1rem;
            left: 2rem;            
            height: 10rem;
            width: 10rem;
           

            svg.triangle-icon  {
                height:100%;
                width: 100%;
                fill: none; 
                stroke: $third;               
               

            }
         

            }
            &--4 {
            top: 5rem;
            right: 5rem;
            height:8rem;
            width: 8rem;
            

            svg.triangle-icon  {
                height: 5rem;
                width: 5rem;
                fill: none; 
                stroke: $primary;               
               

            }
                       

            }
        }
    }
   




}

@keyframes cameraPan {
    0% {
      object-position: 0% 0%;
    }    
    25% {
        object-position: 100% 50%;
    }
    50% {
        object-position: 50% 50%;
    }
    75% {
        object-position: 50% 100%;
    }
    100% {
        object-position: 0% 0%;
    }
    
    }